# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# Go files
[*.go]
indent_style = tab
indent_size = 2

# JavaScript files
[*.js]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
max_line_length = 80
trim_trailing_whitespace = false

# JSON files
[*.json]
indent_style = space
indent_size = 2

# YAML files
[*.yml, *.yaml]
indent_style = space
indent_size = 2